/* .card {
    width: 280px;
    height: 450px;
} */
.card-img-top {
  width: 280px; 
  height: auto; 
}


.row {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
}

.col-md-4 {
  flex-basis: calc(25% - 16px); 
  margin-bottom: 16px; 
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

